.footer-heading {
    display: none;
}

.post-content p, .post-content li {
    color: black;
}

h1, h2, h3, h4, h5 {
    color: #338;
}

code {
    border-radius: 2px;
}
pre {
    border-radius: 6px;
}
pre, pre > code, .highlight {
    color: #f8f8f8;
    background-color: #005;
}

.highlight pre .go {
	color: #ddf;
}
.highlight pre .err, .highlight pre .g, .highlight pre .l, .highlight pre .n, .highlight pre .x,
.highlight pre .ge, .highlight pre .gr, .highlight pre .gh, .highlight pre .gi, .highlight pre .gp,
.highlight pre .gs, .highlight pre .gu, .highlight pre .gt, .highlight pre .ld, .highlight pre .no,
.highlight pre .nd, .highlight pre .pi, .highlight pre .ni, .highlight pre .ne, .highlight pre .nn,
.highlight pre .nx, .highlight pre .py, .highlight pre .w, .highlight pre .bp {
	color: #dfd;
}

// * image-preview class should be on the containing div!
// * the divs below post-list should have class="post-item"!
/*
        .p-3 {
            min-height: 150px;
        }
        .p-3 li {
            padding-left: 135px;
        }
        .Subhead {
            display: inline;
            position: absolute;
        }
        .image-preview {
            max-width: 120px;
            float: left;
        }
        */
