.footer-heading {
    display: none;
}

.highlight .err, .highlight .g, .highlight .l, .highlight .n, .highlight .x,
.highlight .ge, .highlight .gr, .highlight .gh, .highlight .gi, .highlight .gp,
.highlight .gs, .highlight .gu, .highlight .gt, .highlight .ld, .highlight .no,
.highlight .nd, .highlight .pi, .highlight .ni, .highlight .ne, .highlight .nn,
.highlight .nx, .highlight .py, .highlight .w, .highlight .bp {
    color: #3a3;
}

.post-content p, .post-content li {
   color: black;
}

h1, h2, h3, h4, h5 {
    color: #338;
}

code {
	border-radius: 2px;
}
pre {
	background-color: #005;
}
pre > code {
	color: #f8f8f8;
	background-color: #005;
}

// * image-preview class should be on the containing div!
// * the divs below post-list should have class="post-item"!
/*
        .p-3 {
            min-height: 150px;
        }
        .p-3 li {
            padding-left: 135px;
        }
        .Subhead {
            display: inline;
            position: absolute;
        }
        .image-preview {
            max-width: 120px;
            float: left;
        }
        */
